/* Assign ids/classes to sections/etc, then use css grid to lay out your page. Reference MDN and this tutorial to work out how to use grid: http://cssgridgarden.com/Links to an external site. */
/* To contain the elements of your grid, you will want to create a <div>, something like <div id="container">...</div>. */
/* Create CSS rules to style page elements appropriately. */
* ul {
  list-style-type: none;
}
html {
  background: url("/img/data-schema-background.png");
}
#osu_logo {
  height: 1.5rem;
  width: auto;
}
#delmar_logo {
  height: 1.5rem;
  width: auto;
}
.inline_text_image {
  height: 2rem;
  width: auto;
}
.headshot img {
  background: rgba(125, 125, 125, 0.8);
  height: 15rem;
  border-radius: 7.5rem;
  width: auto;
}

header {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "osu delmar";
  align-items: center;
  justify-items: center;
  padding: 1rem;
  background-color: rgb(242, 242, 242, 0.8);
  grid-template-areas:
    "headshot name"
    "headshot contact_info"
    "links ...";
}
header .name {
  grid-area: name;
}
header .headshot {
  grid-area: headshot;
}
header .contact_info {
  grid-area: contact_info;
}
header .links {
  grid-area: links;
}
header .links a {
  justify-content: justify;
  padding: 0 1rem;
}
.navigation-bar {
  position: sticky;
  top: 0;
  padding: 0.01rem 0.01rem;
  margin: 0;
  grid-area: navigation;
  background: rgb(200, 200, 200, 0.8);
  transition: 0.15s;
}
.navigation-bar:hover {
  background: rgb(200, 200, 200, 1);
}
.navigation-bar ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
/* .navigation-bar ul li {
  border-left: solid black 1px;
  padding: 0 7rem;
} */

.bio {
  background: rgba(80, 80, 80, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "bio_text bio_image";
  align-items: justify;
  justify-items: justify;
  margin: 0;
  padding: 1rem;
  grid-template-areas:
    "about_me skills"
    "education skills"
    "certifications skills"
    "... skills";
}

.bio .about_me,
.bio .education,
.bio .certifications,
.bio .skills {
  margin: 0.75rem;
  border: black solid 1px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.bio .about_me {
  grid-area: about_me;
}
.bio .education {
  grid-area: education;
}
.bio .certifications {
  grid-area: certifications;
}
.bio .skills {
  grid-area: skills;
}
.bio .about_me,
.bio .education,
.bio .certifications,
.bio .skills {
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

.education ul {
  padding-bottom: 1rem;
}
.certifications ul {
  padding-bottom: 1rem;
}
#projects {
  background: rgba(80, 80, 80, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "projects_text projects_image";
  align-items: justify;
  justify-items: justify;
  margin: 0;
  padding: 1rem;
  grid-template-areas: "section-title section-title";
}
#projects h2 {
  grid-area: section-title;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.8);
}
