/* Assign ids/classes to sections/etc, then use css grid to lay out your page. Reference MDN and this tutorial to work out how to use grid: http://cssgridgarden.com/Links to an external site. */
/* To contain the elements of your grid, you will want to create a <div>, something like <div id="container">...</div>. */
/* Create CSS rules to style page elements appropriately. */
* ul {
  list-style-type: none;
}
html {
  background: url("/img/data-schema-background.png");
  background-position: center top;
}
#wcci_logo {
  height: 1.5rem;
  width: auto;
}
#osu_logo {
  height: 1.5rem;
  width: auto;
}
#delmar_logo {
  height: 1.5rem;
  width: auto;
}
.inline_text_image {
  height: 2rem;
  width: auto;
}
.headshot img {
  background: rgba(125, 125, 125, 0.8);
  height: 10rem;
  border-radius: 7.5rem;
  width: auto;
}

header {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "osu delmar";
  align-items: center;
  justify-items: center;
  padding: 1rem;
  background-color: rgb(242, 242, 242, 0.9);
  grid-template-areas:
    "headshot name"
    "headshot contact_info"
    "headshot ..."
    "headshot ..."
    "links ...";
}
header .name {
  grid-area: name;
}
header .headshot {
  grid-area: headshot;
}
header .contact_info {
  grid-area: contact_info;
}
header .links {
  grid-area: links;
}
header .links a {
  justify-content: justify;
  padding: 0 1rem;
}
.navigation-bar {
  position: sticky;
  top: 0;
  padding: 0.01rem 0.01rem;
  margin: 0;
  grid-area: navigation;
  background: rgb(200, 200, 200, 0.8);
  transition: 0.15s;
}
.navigation-bar:hover {
  background: rgb(200, 200, 200, 1);
}
.navigation-bar ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.nav-link {
  text-decoration: none;
}

/* .navigation-bar ul li {
  border-left: solid black 1px;
  padding: 0 7rem;
} */

.bio {
  background: rgba(80, 80, 80, 0.4);
  display: grid;
  grid-template-areas: "bio_text bio_image";
  align-items: justify;
  justify-items: justify;
  margin: 0;
  padding: 1rem;
  grid-template-areas:
    "about_me about_me skills"
    "education certifications skills";
}

.bio .about-me,
.bio .education,
.bio .certifications,
.bio .skills {
  background: rgba(242, 242, 242, 0.9);
  margin: 0.75rem;
  padding: 1rem;
  border: black solid 1px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  height: fit-content;
}
.bio .about-me,
.bio .education,
.bio .certifications {
  /* max-width: 33%; */
}
.bio .about-me {
  grid-area: about_me;
  text-align: left;
}
.bio .education {
  grid-area: education;
}
.bio .certifications {
  grid-area: certifications;
}
.bio .skills {
  grid-area: skills;
  /* max-width: 33%; */
}

@media (max-width: 1400px) {
  .bio {
    grid-template-areas:
      "about_me"
      "certifications"
      "education"
      "skills";
  }
  .bio .about-me,
  .bio .education,
  .bio .certifications,
  .bio .skills {
    max-width: 100%;
  }
}
@media (min-width: 1400px) and (max-width: 1800px) {
  .bio {
    grid-template-areas:
      "about_me about_me"
      "certifications skills"
      "education skills";
  }
}

.education ul {
  padding-bottom: 1rem;
}
.certifications ul {
  padding-bottom: 1rem;
}
.projects {
  background: rgba(80, 80, 80, 0.4);
  align-items: justify;
  justify-items: justify;
  margin: 0;
  padding: 1rem;
}
.projects .past-projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0.75rem;
  padding: 0.5rem;
  border: black solid 1px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);

  background: rgba(200, 200, 200, 0.8);
}
#projects-header,
#guided-projects-header {
  width: 100%;
}
.projects .past-projects #projects-container {
  display: flex;
  flex-wrap: wrap;
}
.project-card {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  width: fit-content;
}
.project-card img {
  width: 20rem;
  height: 20rem;
}
.project-card .project-skills-used-list {
  list-style-type: none;
  padding: 4rem 0.5rem 0.5rem 0.5rem;
  width: 10rem;
}
.project-card .project-skills-used-list h4 {
  margin: 0;
  padding: 0;
}
.project-card .project-skills-used-list ul {
  margin: 0;
  padding: 0;
  text-wrap: wrap;
}
.project-card .project-skills-used-list ul li {
  margin: 0;
  text-indent: -1rem;
  padding-left: 1rem;
  text-wrap: wrap;
  font-size: small;
}
.guided-project-card {
  width: 25rem;
}
.guided-project-card a {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}
.guided-project-skills-used-list {
  margin: 0;
  padding: 0;
  width: 100%;
}
.guided-project-skills-used-list h4 {
  margin: 0;
  padding: 0;
}
.guided-project-skills-used-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.guided-project-skills-used-list ul li {
  font-size: x-small;
  display: inline;
}
.guided-project-skills-used-list ul li:not(:last-child)::after {
  content: ", ";
}

/* Collapsible list views css - source https://www.digitalocean.com/community/tutorials/css-collapsible */
input[type="checkbox"] {
  display: none;
}
.label-toggle {
  display: block;

  padding: 0.5rem;

  cursor: pointer;

  border-radius: 1rem;
  transition: all 0.25s ease-out;
}

.label-toggle:hover {
  background-color: rgba(80, 80, 80, 0.8);
}

.label-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}
.collapsible-skills-content .skills-inner,
.collapsible-adept-skills-content .adept-skills-inner,
.collapsible-proficient-skills-content .proficient-skills-inner,
.collapsible-experienced-skills-content .experienced-skills-inner {
  border-bottom: 1px solid rgba(250, 224, 66, 0.45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0;
}
.collapsible-skills-content,
.collapsible-adept-skills-content,
.collapsible-proficient-skills-content,
.collapsible-experienced-skills-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}
.toggle:checked + .label-toggle + .collapsible-skills-content,
.toggle:checked + .label-toggle + .collapsible-adept-skills-content,
.toggle:checked + .label-toggle + .collapsible-proficient-skills-content,
.toggle:checked + .label-toggle + .collapsible-experienced-skills-content {
  max-height: 1000vh;
}
.toggle:checked + .label-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .label-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
